:root {
  /*Primaries colors - Colores principales */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /*Neutral colors - Colores neutrales*/
  --Very-dark-blue-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  /*fonts - Fuentes*/
  --size: 18px;
  --family-outfit: "Outfit", sans-serif;
  --light: 300;
  --regular: 400;
  --semi: 600;
}
html {
  box-sizing: border-box;
  font-size: 96.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*Attributtion classes*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/**/
body {
  background-color: var(--Very-dark-blue-BG);
  margin: 0 auto;
  color: var(--White);
  width: 100%;
}
@media (min-width: 780px) {
  body {
    margin: 0.5rem auto 0;
    height: 30rem;
  }
  .container {
    width: 24rem;
  }
  .card-container {
    height: 20rem;
  }
}
img {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
p {
  font-size: 18px;
}

.container {
  padding: 1.5rem;
  margin: 0 auto;
}
.card-container {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: var(--Very-dark-blue-card);
  border-radius: 1rem;
  font-family: var(--family-outfit);
  font-size: 1.2rem;
}
.card-container h2 {
  margin: 1.5rem 0 0 0;
  width: fit-content;
  width: -moz-fit-content;
}
.card-container h2:hover {
  color: var(--cyan);
  cursor: pointer;
}
.card-container p {
  color: var(--soft-blue);
  margin-bottom: 0.6rem;

  line-height: 2rem;
}
.eye {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 255, 247, 0.575);
}
.eye img:first-child {
  width: 40px;
  height: 40px;
  position: absolute;
  visibility: hidden;
  z-index: 1;
}
.eye:hover img {
  cursor: pointer;
  border-radius: 1rem;
  opacity: 0.3;
}
.eye:hover img:first-child {
  visibility: visible;
  opacity: 1;
}
.eye:hover img:last-child {
  background-color: rgba(0, 255, 247, 0.575);
}
.NTF-img {
  border-radius: 1rem;
}
.NTF-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price p {
  color: var(--cyan);
  margin: 0.2rem 0 0 0.5rem;
}
.price img,
.time-rest img {
  width: 18px;
  height: 18px;
}

.price img {
  width: 14px;
}
.time-rest {
  display: flex;
  align-items: center;
}
.time-rest p {
  margin: 0.1rem 0 0 0.5rem;
}
.author-info {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.author-info img {
  max-width: 40px;
  height: 40px;
  border: solid 2px white;
  border-radius: 50%;
  margin: 0;
}

.author-info p {
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.author-info p:hover {
  color: var(--cyan);
  cursor: pointer;
}
.creation {
  color: var(--soft-blue);
}

@media (min-width: 780px) {
  body {
    margin: 0.5rem auto 0;
    height: 30rem;
  }
  .container {
    width: 24rem;
  }
  .card-container {
    height: 35rem;
  }
  .card-container h2 {
    font-size: 1.2rem;
  }
  .card-container p {
    font-size: 1rem;
  }
  .NTF-info {
    margin-bottom: 0;
  }
  .author-info p {
    font-size: 0.8rem;
  }
  .author-info img {
    max-width: 35px;
    height: 35px;
  }
}
